body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: black;
}

nav > a {
  width: 8%;
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 20px;
  text-align: center;
}

.first-container {
  height: 750px;
  width: 100%;
  display: flex;
  background-image: "#profile-pic";
  justify-content: center;
  overflow: hidden;
}

img {
  height: 950px;
  overflow: hidden;
  width: auto;
}

.my-name {
  position: absolute;
  top: 30%;
  left: 7%;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.title {
  position: absolute;
  top: 60%;
  right: 3%;
  color: white;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}
