body {
  margin: 0;
  height: 100%;
  background-color: black;
  color: white;
}

nav {
  display: flex;
  height: 30px;
  justify-content: center;
  background-color: black;
}

ul {
  display: flex;
  text-decoration: none;
  width: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
}

li {
  list-style-type: none;
  color: white;
  margin: 0 2vw;
  font-size: 2vh;
  padding: 1vw;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  display: flex;
}

.picture-container {
  display: inline-block;
  margin-top: 3%;
  margin-left: 7%;
}

.text-container {
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.text-box {
  width: 550px;
}
img {
  height: 650px;
  width: auto;
}

@media (max-width: 625px) {
  li a {
    display: block;
    width: 60px;
  }

  .main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .picture-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .text-container {
    justify-content: center;
    margin: 0;
  }

  .text-box {
    width: auto;
  }
}
