body {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 20px;
  height: 563;
  max-width: 750px;
  margin: auto;
}

.row-one-column-one {
  grid-row-start: 1;
  background-color: white;
  text-align: center;
}
.row-one-column-two {
  grid-row-start: 1;
  grid-column-start: 2;
}

.row-two-column-one {
  grid-row-start: 2;
  grid-column-start: 1;
  text-align: center;
  margin-top: -9px;
  padding-top: 79px;
  background-color: #23bbcc;
}

.row-two-column-two {
  grid-row-start: 2;
  grid-column-start: 2;
}

.row-three-column-one {
  background-color: #23bbcc;
  grid-row-start: 3;
  grid-column-start: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row-four-column-one {
  grid-row-start: 4;
  grid-column-start: 1;
  padding-left: 47px;
  background-color: #23bbcc;
}

.row-three-column-two {
  grid-row-start: 3;
  grid-column-start: 2;
}

.logo-number {
  padding-top: 7px;
}

.logo-adress {
  padding-top: 40px;
}

.logo-email {
  padding-top: 40px;
}

.linkedin-logo {
  padding-left: 53px;
  padding-top: 80px;
}

.name {
  font-size: 60px;
  padding-left: 30px;
  margin-top: 23px;
  margin-bottom: 0px;
  color: #660066;
}

.title {
  font-size: 30px;
  padding-left: 0px;
  color: #660066;
}

h2 {
  color: #660066;
}

h3,
h4 {
  color: grey;
}

.intro-paragraph,
h1 {
  color: #660066;
  padding-left: 20px;
}

img {
  height: 170px;
  width: auto;
  cursor: pointer;
}

.contact-info-heading {
  color: white;
}

.contact-color-change {
  color: white;
}

.under-contact {
  width: 80%;
}

.normal {
  margin-left: 0;
  width: 75%;
}

.expert {
  padding-right: 27px;
}

.address {
  margin-bottom: 5px;
}

#number {
  cursor: pointer;
  color: #23bbcc;
}

#name {
  cursor: pointer;
}