body {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 20px;
}

.row-one-column-one {
  grid-row-start: 1;
  background-color: white;
  justify-self: center;
}
.row-one-column-two {
  grid-row-start: 1;
  grid-column-start: 2;
}

.row-two-column-one {
  grid-row-start: 2;
  grid-column-start: 1;
}

.row-two-column-two {
    grid-row-start: 2;
  grid-column-start: 2;
}






 .row-three-column-one {
    grid-row-start: 3;
    grid-column-start: 1;
} 


 .row-four-column-one {
    grid-row-start: 4;
    grid-column-start: 1;
} 

.row-three-column-two {
    grid-row-start: 3;
    grid-column-start: 2;
}










.contact-info {
  background-color: turquoise;
  grid-column-start: 1;
  grid-row-start: 3;
  padding-top: 15px;
}

.name {
  font-size: 60px;
  padding-left: 30px;
  margin-top: 23px;
  margin-bottom: 0px;
}

.title {
  font-size: 30px;
  padding-left: 30px;
}

h3,
h4 {
  color: grey;
}

.intro-paragraph,
h1 {
  color: purple;
  padding-left: 20px;
}

img {
  height: 170px;
  width: auto;
}
